*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    background-color: rgb(76, 71, 71);
    height: 80%;
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
p{
    color: aliceblue;
}

